- petitions = local_assigns[:petitions] || @petitions
.petition-panel
  %h3.list-title 서명리스트
  %hr
  - petitions.each do |p|
    .list-wrapper
      %span.list-name
        = p.name
      %span.list-date
        = date_f p.created_at
      %br
      %p.list-body
        - if p.body.blank? or p.is_body_hidden?
          = '서명합니다.'
        - else
          = p.body
    %hr
  .petitions-pagination
    = paginate @petitions, remote: true, params: { controller: :petitions, action: :index }
