- petitions = local_assigns[:petitions] || @petitions
.petition-panel
  %h3.list-title 서명리스트
  %hr
  - petitions.each do |p|
    .list-wrapper
      %span.list-name
        = p.name
      %span.list-date
        = date_f p.created_at
      %br
      %p.list-body
        = p.body
        = '서명합니다.' if p.body.blank?
    %hr
  .petitions-pagination
    = paginate @petitions, remote: true, params: { controller: :petitions, action: :index }
