.footer-panel
  %p.footer-icoop-ask
    %span.footer-icoop-ask__text
      문의하기
    %span
      = link_to 'https://www.facebook.com/inmycart/', 'https://www.facebook.com/inmycart/', target: '_blank', class: 'footer-icoop-ask__url'
  %p.footer-icoop-ask
    %span.footer-icoop-ask__text
      아이쿱생협 캠페인기획파트 (02-2181-7914)
  .logo-wrapper
    = link_to 'http://icoop.coop/', target: '_blank' do
      = image_tag 'logo-icoop.png', class: 'logo__icoop'
    = link_to 'http://www.ymcakorea.org/', target: '_blank' do
      = image_tag 'logo-ymca.png', class: 'logo__ymca'
    = link_to 'http://www.ccej.or.kr/', target: '_blank' do
      = image_tag 'logo-ccej.png', class: 'logo__ccej'
    = link_to 'http://parti.xyz/', target: '_blank' do
      = image_tag 'logo-parti.png', class: 'logo__parti'
  %br
  - unless browser.device.mobile?
    = link_to 'http://up.parti.xyz/', target: '_blank' do
      = image_tag 'bubble-banner.png', class: 'bubble-banner'
  - if browser.device.mobile?
    = link_to 'http://up.parti.xyz/', target: '_blank' do
      = image_tag 'bubble-banner-mobile.png', class: 'bubble-banner--mobile'
