.intro-panel
  = image_tag 'baggum-logo-after.png', class: 'baggum-logo-after pull-left'
  .social-after.pull-right
    = image_tag 'social-after-facebook.png', class: 'social-after__facebook'
    = image_tag 'social-after-twitter.png', class: 'social-after__twitter'
    = image_tag 'social-after-kas.png', class: 'social-after__kas'
  %p.intro-title
    GMO완전표시제
  %p.intro-subtitle
    입법 청원과 지지를 위한 서명
  %p.intro-body
    있으나마나한 현행 GMO표시제! 과도한 규제로 NON-GMO 표시는 할 수 없습니다.
    %br
    식용유, 간장, 액상과당은 GMO원재료로 만들어도 GMO 표시가 면제됩니다.
    %br
    매일 먹는 쌀의 2/3만큼의 GMO를 먹고 있지만 알 수 있는 방법은 없습니다.
  %p.intro-message
    = image_tag 'double-qoutation-left.png', class: 'double-qoutation-left'
    %br
    투명한 GMO 정보 공개,
    %br
    알아보기 쉬운 GMO 표시!
    %br
    소비자 기본권입니다
    %br
    = image_tag 'double-qoutation-right.png', class: 'double-qoutation-right'
  = image_tag 'intro.png', class: 'intro-image'
  %br
  = render 'progress'
