%section#project
  %section#intro
    .container
      = render 'intro'
  %section#description
    .container
      = render 'description'
  %section#petition
    .container
      #petition-form-panel
        = render 'petitions/form'
  %section#list
    .container
      #petition-list-panel
        = render 'petitions/list'
  %section#footer
    .container
      = render 'footer'
  #bottom-banner-wrapper.visible-xs
    = link_to '서명하기', root_path(anchor: 'petition-form-anchor'),  class: 'btn', id: 'bottom-banner'

